
.FetchInfo {
    color: black;
    font-size: 20px;
    
}

.InfoDate {
    margin-top: 5%;
}

.InfoCountry {
    padding-bottom: 6%;
    text-align: center;
    color: black;
}

.InfoCountry::selection {
    background-color: red;
}


.blue::selection {
    background-color: cyan;
}

.red::selection {
    background-color: red;
}

.green::selection {
    background-color: green;
}

.black::selection {
    background-color: black;
    color: white;
}